{% load staticfiles %}
<html class="pushable">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "semantic/dist/semantic.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
    <script src="https://unpkg.com/vue"></script>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="{% static "semantic/dist/semantic.min.js" %}"></script>
  </head>
  <body class="inversion">
    {% block contents %}
    {% endblock contents %}
  </body>
</html>
