<div class="column eight wide">
  <div style="padding-top: 0" class="ui inverted vertical segment">
    <div class="row">
      <div v-if="person.primary">
        <h1 style="padding-top: 0" class="ui inverted header main-header">
          Hello [[ person.user.first_name ]]!
          <small>
            <a v-if="person.primary" class="header-link" href="{% url 'logout' %}">(not me)</a>
          </small>
        </h1>
      </div>
      <div v-if="!person.primary">
        <h1 style="padding-top: 0" class="ui inverted header main-header">
          [[ person.user.first_name ]]'s invitation
        </h1>
      </div>
    </div>
    <div class="row form-header">
      <h3 class="sub-header">
        RSVP
      </h3>
    </div>
    <div class="second-page flex-container">
      <button v-bind:class="{ blue: person.rsvpChoice === RSVP_CHOICES.YES }" v-on:click="person.set('rsvpChoice', RSVP_CHOICES.YES)" class="half ui grey basic button fixed button-container">
        <span v-if="person.primary">I would</span>
        <span v-if="!person.primary">They'd</span>
        love to come
      </button>
      <button v-bind:class="{ blue: person.rsvpChoice === RSVP_CHOICES.NO }" v-on:click="person.set('rsvpChoice', RSVP_CHOICES.NO)" class="half grey basic ui button fixed button-container">
        Sorry,
        <span v-if="person.primary">I</span>
<span v-if="!person.primary">they</span>
        can't make it
      </button>
    </div>
    <div class="second-page flex-container">
      <div class="half">
        <small v-if="person.rsvpChoice==RSVP_CHOICES.YES">Excellent</small>
      </div>
    </div>
  </div>
  <div v-if="person.rsvpChoice === RSVP_CHOICES.NO">
    <span v-if="person.plusOne">
      <h3 style="text-align: left" class="sub-header">
      That's a shame.<br />
      Would you like to RSVP for [[ person.plusOne.user.first_name ]] too?
      </h3>
      <div class="second-page flex-container">
        <button v-bind:class="{ blue: person.showOther }" v-on:click="person.showOther = true" class="half ui grey basic button fixed button-container">Oo yes please</button>
        <button v-bind:class="{ blue: person.showOther===false }" v-on:click="person.showOther = false" class="half ui grey basic button fixed button-container">Nah they can do it themeselves</button>
      </div>
      <div class="second-page flex-container">
        <div class="half">
          <small v-if="person.showOther">Ok cool, scroll down</small>
        </div>
      </div>
    </span>
    <span v-if="!person.plusOne">
      That's a shame.
      <span v-if="person.primary">
       Please email us to arrange a meet-up ASAP.
      </span>
      <span v-if="!person.primary">
       Please get them to email us to arrange a meet-up ASAP.
      </span>
    </span>
  </div>
  <div v-if="person.rsvpChoice === RSVP_CHOICES.YES">
    <div class="ui inverted vertical segment">
      <div style="margin-top: 10px;" class="row form-header">
        <h3 class="sub-header">
          Food preferences
        </h3>
      </div>
      <div class="second-page flex-container">
        <button v-on:click="person.set('foodChoice', FOOD_CHOICES.PIG)" v-bind:class="{ blue: person.foodChoice === FOOD_CHOICES.PIG }" class="third ui grey basic button ncdr-button">I like pig</button>
        <button v-on:click="person.set('foodChoice', FOOD_CHOICES.VEGGIE)" v-bind:class="{ blue: person.foodChoice === FOOD_CHOICES.VEGGIE }" class="third grey basic ui button ncdr-button">I'd prefer something veggie</button>
        <button v-on:click="person.set('foodChoice', FOOD_CHOICES.OTHER)" v-bind:class="{ blue: person.foodChoice === FOOD_CHOICES.OTHER }" class="third grey basic ui button ncdr-button">I'm special...</button>
      </div>
      <div class="second-page flex-container">
        <div class="third">
          <small v-if="person.foodChoice=='pig'">Mmmm pig</small>
        </div>
        <div class="third">
          <small v-if="person.foodChoice=='veggie'">Most of your five a day</small>
        </div>
        <div class="third"></div>
      </div>
      <div v-if="person.foodChoice === FOOD_CHOICES.OTHER" style="margin-top: 10px; text-align: left; " class="row">
        <div class="ui form inverted transparent ncdr-input">
          <label style="display: block; margin-bottom: 5px;">Tell us more about your exciting dietary requirements</label>
          <textarea v-on:blur="person.save()" v-model="person.foodPreferenceOther" v-bind:class="{ blue: person.foodPreferenceOther.length }" rows=3></textarea>
        </div>
      </div>
    </div>
    <div class="ui inverted vertical segment">
      <div style="margin-top: 10px;" class="row form-header">
        <h3 class="sub-header">
          <div>Song choice</div>
          <small>Name a track that will make
            <span v-if="person.primary">you</span>
            <span v-if="!person.primary">[[ person.user.first_name ]]</span>
            dance like a loon
          </small>
        </h3>
      </div>
      <div style="width: 100%" class="ui input ncdr-input">
        <input v-model="person.songChoice" v-on:blur="person.save()" v-bind:class="{ blue: person.songChoice.length }" type="text" placeholder="Africa, Toto">
      </div>
      <div class="row">
        <div class="second-page flex-container">
          <small v-if="person.songChosen">Niiiice</small>
        </div>
      </div>
    </div>
    <div class="row">
      <h2 v-if="person.complete">
        <span v-if="person.primary">
          Great: you're done
        </span>
        <span v-if="!person.primary">
          Great: [[ person.user.first_name ]]'s done
        </span>
      </h2>
    </div>
  </div>
</div>
