$font-family: Raleway, serif !important;

body{
  color: white;
}

.wedding-container{
  min-height: 100%;
}

.header-link{
  color: darken(#fff, 20%);
  text-decoration: none;

  &:hover{
    text-decoration: underline;
    color: darken(#fff, 20%);
  }

}

h1.ui.main-header{
  /* font-family: 'Playfair Display', serif; */
  font-family: $font-family;
  font-size: 2.5rem;
  margin-bottom: 0;
}

h1.ui.main-header2{
  /* font-family: 'Playfair Display', serif; */
  font-family: $font-family;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 20px !important;
}

h3.sub-header{
  /* font-family: 'Playfair Display', serif; */
  font-family: $font-family;
  font-size: 2rem;
}

h3 small{
  font-size: 1.5rem;
}

.main-header2 a{
  color:inherit;
}

.main-header2 a:hover{
  text-decoration: underline;
}

.button.fixed{
  width: 250px;
}

.button-container{
  margin-top: 10px;
  display: inline-block;
}

.inversion{
  background-color: #1b1c1d;
}

.main-img{
  width: 600px;
  height: auto;
  max-width: 100%;
}

img.second-page{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border: 15px solid white;
  max-width: 100%;
  height: auto;
}

.second-page.flex-container{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.second-page .third{
    width: 30%;
}

.second-page .half{
    width: 47%;
}

#vue-container{
  margin-top: 54px;
}

.header-tick{
  margin-top: -21px;
  color: white;

  p{
    font-size: 30px;
  }
}

.row.form-header{
  margin-top: 10px;
  text-align: left;
  margin-bottom: 5px;
}

button.button-container:hover{
    color: #2185d0 !important;
    border-color: #2185d0 !important;
}

.ui.input.ncdr-input input, .ui.ncdr-input textarea{
    background-color: #1b1c1d !important;
    border: 1px solid #767676;
    color: #767676;

    &:focus, &.blue{
      color: #2185d0!important;
      border: 1px solid #2185d0!important;
    }
}

.loading-space{
  z-index: 1;
  position: fixed;
  top: 0;
  text-align: center;
  width: 100px;
  right: 0;
  height: 40px;
  padding-top: 20px;
  -webkit-transition: opacity 0.2s ease-in;
     -moz-transition: opacity 0.2s ease-in;
       -o-transition: opacity 0.2s ease-in;
         transition: opacity 0.2s ease-in;
                                opacity: 0;
}

.loading-space.loading{
  opacity: 1;
}

[v-cloak] { display: none; }

.top-bar{
  margin-top: -50px;
  margin-bottom: 70px;
}

@media only screen and (max-width: 767px) {
  .top-bar{
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .main-header{
    margin-bottom: 40px;
  }
}
